<header class='fixed-top'>
    <nav class='navbar navbar-light bg-light'>
        <a class='navbar-brand'>TESTE</a>
        <div *ngIf='(user$ | async) as user; else login'>
            <i class='fa fa-user-circle'></i>
            <a class='ml-2'>{{ user.name }}</a>
            <button type='button' 
                class='btn btn-info btn-sm ml-2'
                (click)='logout()'>Logout</button>
        </div>
        <ng-template #login>
            <a [routerLink]='[""]'>Login</a>
        </ng-template>
    </nav>
</header>