<h4 class='text-center'>Acesso</h4>
<form [formGroup]='form' class='form mt-4' (submit)='login()'>
    <div class='form-group'>
        <input type='text' formControlName='userName' class='form-control' placeholder='Nome' autofocus />
    </div>
    <app-messages *ngIf='form.get("userName").errors?.required' type='error' [message]='userMessage'></app-messages>
    <div class='form-group'>
        <input type='password' formControlName='password' class='form-control' placeholder='Senha' />
    </div>
    <app-messages *ngIf='form.get("password").errors?.required' type='error' [message]='passMessage'></app-messages>
    <button type='submit' [disabled]='form.invalid' class='btn btn-primary btn-block'>
        Acessar
    </button>
</form>
<p>Ainda não possui uma conta? <a>Registre-se agora mesmo!</a></p>