<h4 class='text-center'>Acesso</h4>
<form [formGroup]='form' class='form mt-4'>
    <div class='form-group'>
        <input type='text' formControlName='user' class='form-control' placeholder='Nome' autofocus />
    </div>
    <small *ngIf='form.get("user").errors?.required'>Usuário é obrigatório!</small>
    <div class='form-group'>
        <input type='password' formControlName='pass' class='form-control' placeholder='Senha' />
    </div>
    <small  *ngIf='form.get("pass").errors?.required'>Senha é obrigatória!</small>
    <button type='submit' [disabled]='form.invalid' class='btn btn-primary btn-block'>
        Acessar
    </button>
</form>
<p>Ainda não possui uma conta? <a>Registre-se agora mesmo!</a></p>